<ActionBar title="Details" 
           class="action-bar">
    <ActionItem (tap)="onEditButtonTap()"
                ios.systemIcon="2" 
                ios.position="right"
                android.position="left">
        <Label text="Edit" 
               class="action-item"></Label>
    </ActionItem>
    <ActionItem (tap)="onDeleteButtonTap()"
                ios.systemIcon="16" 
                ios.position="right" 
                android.position="right">
        <Label text="Delete" 
               class="action-item"></Label>
    </ActionItem>
</ActionBar>

<StackLayout orientation="vertical"
             class="page">
    <FlexboxLayout class="m-15">
        <Label class="h2" 
               [text]="cost.quantity"></Label>
        <Label class="date-label" 
               [text]="cost.changesDate"></Label>       
    </FlexboxLayout>        
    <Label class="tag-item small-tag-item"
           [text]="cost.type"></Label>
</StackLayout>
