<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<TabView #tabView (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <StackLayout *tabItem="{title: 'Витрати', iconSource: 'res://dollarsign'}">
        <costs [dateRange]="dateRange"></costs>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Фільтр', iconSource: 'res://calendar'}">
        <date-range></date-range>
    </StackLayout>
    
    <StackLayout *tabItem="{title: 'Аналітика', iconSource: 'res://chart'}">
        <chart #chart></chart>
    </StackLayout>
</TabView>