<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<TabView (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <StackLayout *tabItem="{title: 'Costs', iconSource: 'res://dollarsign'}">
        <costs></costs>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Calendar View', iconSource: 'res://calendar'}">
        <calendar></calendar>
    </StackLayout>
    
    <StackLayout *tabItem="{title: 'Charts', iconSource: 'res://chart'}">
        
    </StackLayout>
</TabView>