<SegmentedBar [items]="barButtons" 
			  (selectedIndexChange)="onSegmentedBarSelectionChange($event)"></SegmentedBar>

<PullToRefresh class="main-container" (refresh)="pullToRefresh($event)">
	<StackLayout padding="30">
		<RadCartesianChart visibility="{{ barButtonsSelectedIndex === 0 ? 'visible' : 'collapsed' }}" 
						   allowAnimation="true" seriesSelectionMode="none">
			<CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
			<LinearAxis tkCartesianVerticalAxis></LinearAxis>
			<BarSeries tkCartesianSeries showLabels="true" seriesName="inbound"
					   [items]="cartesianProvider" categoryProperty="changesMonth" valueProperty="quantity"></BarSeries>
			<Palette tkCartesianPalette seriesName="inbound">
				<PaletteEntry tkCartesianPaletteEntry fillColor="#1da125" strokeColor="Transparent"></PaletteEntry>
			</Palette>
		</RadCartesianChart>
		
		<RadPieChart visibility="{{ barButtonsSelectedIndex === 1 ? 'visible' : 'collapsed' }}" 
						allowAnimation="true">
			<PieSeries tkPieSeries selectionMode="DataPoint" expandRadius="0.8" 
						outerRadiusFactor="0.9" [items]="pieProvider" valueProperty="quantity"
						legendLabel="type"></PieSeries>
			<RadLegendView tkPieLegend position="Right" title="Типи Витрат (грн)" 
							offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
		</RadPieChart>
	</StackLayout>
</PullToRefresh>