<ActionBar title="Деталі" class="action-bar">
    <ActionItem (tap)="onEditButtonTap()" position="left">
        <Label text="&#xf14b;" class="font-awesome action-item action-icon"></Label>
    </ActionItem>
    <ActionItem (tap)="onDeleteButtonTap()" position="right">
        <Label text="&#xf146;" class="font-awesome action-item action-icon"></Label>
    </ActionItem>
</ActionBar>

<StackLayout class="page">
    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="cost.quantity"></Label>
        <Label class="date-label" [text]="formatChangesDate(cost.changesDate)"></Label>            
    </FlexboxLayout>        
    <Label [nsRouterLink]="['/cost-edit', cost.id]" class="tag-item small-tag-item" [text]="cost.type"></Label>
    <StackLayout verticalAlignment="center" horizontalAlignment="center" (tap)="onFavoriteTap()">
        <Label [text]="cost.isFavorite === true ? '\uf005' : '\uf02e'" class="font-awesome favorite-label"></Label>
    </StackLayout>
                      
</StackLayout>
