.list-group-item-date {
    text-align: right;
    vertical-align: middle;
    color: #7d7d7d;
    font-size: 14pt;
}

.list-group-item-favorite {
    vertical-align: middle;
}

.indicator-container {
    width: 100%; 
    height: 100%;
}

.header-label {
    color: #909da6;
    font-weight: bold;
    font-size: 9pt;
    vertical-align: center;
    text-align: center;
}