<StackLayout verticalAlignment="center" 
             class="container">
    <Image src="res://brand_logo" 
           horizontalAlignment="center"
           width="170"
           height="200"></Image>
    <ActivityIndicator [busy]="isLoading" 
                       [visibility]="isLoading ? 'visible' : 'collapse'" 
                       horizontalAlignment="center" 
                       verticalAlignment="center"></ActivityIndicator>
    <StackLayout class="group">
        <TextField #email="ngModel" 
                   [(ngModel)]="form.email"
                   hint="Email"
                   keyboardType="email"
                   autocorrect="false"
                   minlength="1" 
                   required></TextField>
        <StackLayout *ngIf="email.errors && email.dirty && email.touched">
            <Label *ngIf="email.errors.required" 
                   text="- An email field is required -"></Label>
            <Label *ngIf="email.errors.minlength" 
                   text="- Email must be longer than 1 characters -"></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout class="group">
        <TextField #password="ngModel"
                   [(ngModel)]="form.password"
                   secure="true"
                   hint="Password"
                   minlength="1" 
                   required></TextField>
        <StackLayout *ngIf="password.errors && password.dirty && password.touched">
            <Label *ngIf="password.errors.required" 
                   text="- A password is required -"></Label>
            <Label *ngIf="password.errors.minlength" 
                   text="- Password must be longer than 1 characters -"></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout class="group">
        <Button text="Login" 
                class="btn-login"
                (tap)="login()"></Button>
        <Label [nsRouterLink]="['/register']" 
               text="Not a member? Register here." 
               class="text-center footnote"></Label>
    </StackLayout>
</StackLayout>
