.container {
   padding-left: 40;
   padding-right: 40;
   padding-bottom: 40%; 
}

.group {
    padding: 5pt;
}

.btn-login {
    background-color: #046118;  
    color: #fff;
    margin-bottom: 10pt;
}