@import 'nativescript-theme-core/css/core.light.css';

.font-awesome {
    font-family: "FontAwesome", fontawesome-webfont;
}

.tag-item {
    vertical-align: middle;
    background-color: #7ada2f;
    color: aliceblue;
    border-radius: 1;
    width: 70;
    text-align: center;
}

.small-tag-item {
    width: 80;
    text-align: center;
}

.action-item {
    padding-right: 20;
    font-size: 16pt;
}

.action-icon {
    font-size: 30pt;
}