<ActionBar title="Register" 
           class="action-bar">
</ActionBar>

<StackLayout verticalAlignment="center" 
             class="container" >
        <Label text="Name" 
               class="label font-weight-bold m-b-5"></Label>
        <TextField></TextField>
        <Label text="Surname" 
               class="label font-weight-bold m-b-5"></Label>
        <TextField></TextField>
        <Label text="Login" 
               class="label font-weight-bold m-b-5"></Label>
        <TextField></TextField>
        <Label text="Email" 
               class="label font-weight-bold m-b-5"></Label>
        <TextField></TextField>
        <Label text="Password" 
               class="label font-weight-bold m-b-5"></Label>
        <TextField secure="true"></TextField>
        <Button  [nsRouterLink]="['']" 
                 text="Register" 
                 class="btn-register"></Button>
</StackLayout>