#date-picker-from {
    height: 200;
}

#date-picker-to {
    height: 200;
}

.btn-filter {
    margin-left: 75;
    margin-right: 75;
    background-color: #7ada2f;
    color: aliceblue;
}