<ActionBar title="Last Costs" 
           class="action-bar">
</ActionBar>

<StackLayout class="page"
             orientation="vertical">
    <GridLayout row="0" 
                columns="*, 70" 
                class="add-bar">
        <TextField #newCostTextField
                   [(ngModel)]="newCost"
                   hint="Enter a cost item" 
                   col="0"></TextField>
        <!-- <Image src="res://add" 
               col="1"
               (tap)="add()"></Image> -->
        <Label col="1"
               text="Add"
               (tap)="add()"
               class="list-header-button"></Label>
    </GridLayout>
    <ListView row="1"
              [items]="costService.costsListObservable | async" 
              class="list-group">
        <ng-template let-item="item">
            <GridLayout row="0" 
                        columns="*, auto, 10">
                <Label [nsRouterLink]="['/cost', item.id]" 
                       [text]="item.quantity"
                       class="list-group-item"
                       col="0"></Label>
                <Label [nsRouterLink]="['/cost', item.id]" 
                       [text]="item.changesDate"
                       class="list-group-item-date"
                       col="0"></Label>       
                <Label [nsRouterLink]="['/cost', item.id]" 
                       [text]="item.type"
                       class="tag-item"
                       col="1"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>
