<ActionBar title="Редагувати Витрату" class="action-bar">
    <ActionItem position="left" (tap)="onCancelButtonTap()">
        <Label text="&#xf191;" class="font-awesome action-item action-icon"></Label>
    </ActionItem>
    <ActionItem android.position="right" (tap)="onDoneButtonTap()">
        <Label text="&#xf14a;" class="font-awesome action-item action-icon"></Label>
    </ActionItem>
</ActionBar>

<StackLayout>
    <GridLayout class="row" columns="80, *" rows="50">
        <Label col="0" text="Витрата"></Label>
        <TextField col="1" [(ngModel)]="costForUpdate.quantity"></TextField>
    </GridLayout>
    <GridLayout class="row" columns="80, *" rows="50">
        <Label col="0" text="Мітка"></Label>
        <TextField col="1" [(ngModel)]="costForUpdate.type"></TextField>
    </GridLayout>
    <GridLayout class="row" columns="80, *" verticalAlignment="center">
        <Label col="0" text="Дата витрати"></Label>  
        <DatePicker col="1" (loaded)="onDatePickerLoaded($event)"  (dateChange)="onDateChange($event)"></DatePicker>
    </GridLayout>
</StackLayout>
