<ActionBar title="Редагувати Витрату" 
           class="action-bar">
    <ActionItem ios.position="left" 
                android.position="left" 
                (tap)="onCancelButtonTap()">
        <Label text="&#xf191;" 
               class="font-awesome action-item action-icon"></Label>
    </ActionItem>
    <ActionItem ios.position="right" 
                android.position="right" 
                (tap)="onDoneButtonTap()">
        <Label text="&#xf14a;" 
               class="font-awesome action-item action-icon"></Label>
    </ActionItem>
</ActionBar>

<StackLayout orientation="vertical">
    <GridLayout class="row"
                columns="80, *"
                rows="50">
        <Label text="Витрата"
               col="0"></Label>
        <TextField [(ngModel)]="costForUpdate.quantity"
                   col="1"></TextField>
    </GridLayout>
    <GridLayout class="row"
                columns="80, *"
                rows="50">
        <Label text="Мітка"
               col="0"></Label>
        <TextField [(ngModel)]="costForUpdate.type"
                   col="1"></TextField>
    </GridLayout>
    <GridLayout class="row"
                columns="80, *"
                verticalAlignment="center">
        <Label text="Дата витрати"
               col="0"></Label>  
        <DatePicker (loaded)="onDatePickerLoaded($event)" 
                    (dateChange)="onDateChange($event)"
                    col="1"></DatePicker>
    </GridLayout>
</StackLayout>
