<StackLayout orientation="vertical" 
             id="date-picker-from">     
    <DatePicker (loaded)="onStartPickerLoaded($event)" 
                (dateChange)="onStartDateChange($event)"></DatePicker>
</StackLayout>
<StackLayout orientation="vertical" 
             id="date-picker-to"> 
    <DatePicker (loaded)="onEndPickerLoaded($event)" 
                (dateChange)="onEndDateChange($event)"></DatePicker>
</StackLayout>
    
<StackLayout orientation="vertical">
    <Button text="Фільтрувати" 
            (tap)="onFilterTap()" 
            class="btn-filter"></Button>
</StackLayout>
