.container {
    padding-left: 50;
    padding-right: 50;
    padding-bottom: 40%; 
}
 
.btn-register {
    background-color: #046118;  
    color: #fff;
    margin-bottom: 7pt;
    margin-top: 10pt;
}

.brand-logo {
    horizontal-alignment: center;
    width: 170;
    height: 200;
}