.list-header-button {
    text-align: center;
    vertical-align: middle;
}

.add-bar {
    height: 60;
}

.list-tag-item {
    vertical-align: middle;
    background-color: darkslategray;
    color: aliceblue;
}