ActionBar {
    background-color: #7ada2f;
    color: aliceblue;
}

.list-header-button {
    text-align: center;
    vertical-align: middle;
    color: #7d7d7d;
    font-weight: bold;
    font-size: 38pt;
}

.add-bar {
    height: 70;
}