<ActionBar title="Last Costs" 
           class="action-bar">
    <ActionItem android.position="right" 
                (tap)="logout()">
        <Label text="Logout" 
               class="action-item"></Label>
    </ActionItem>
</ActionBar>

<StackLayout class="page"
             orientation="vertical">
    <GridLayout row="0" 
                columns="*, 70" 
                class="add-bar">
        <TextField #newCostTextField
                   keyboardType="number"
                   hint="Enter a cost item" 
                   col="0"></TextField>
        <!-- <Image src="res://add" 
               col="1"
               (tap)="add()"></Image> -->
        <Label col="1"
               text="Add"
               (tap)="add()"
               class="list-header-button"></Label>
    </GridLayout>
    <list [items]="costService.costsListObservable | async"></list>
</StackLayout>
