.list-header-button {
    text-align: center;
    vertical-align: middle;
    color: #7d7d7d;
    font-weight: bold;
    font-size: 38pt;
}

.add-bar {
    height: 70;
}

.add-button {
    height: 100%;
    width: 100%;
    vertical-align: center;
}